# Service files
# ~~~~~~~~~~~~~
*.o
*.d
*.out
*.log
# ~~~~~~~~~~~~~

# Not for release
# ~~~~~~~~~~~~~~~
graph_dump/
test/
Graph.py
*.png
Error.lab
# ~~~~~~~~~~~~~~~

# For future
# ~~~~~~~~~~~~~~~
src/Gauss_Method.c
src/Error_Compiler.c
src/Differentiator.c
src/Expression_Tree.c
# ~~~~~~~~~~~~~~~
